# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CSC 308 Projects\308Assignment2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
